.help-block {
    color: red;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border: 1px red solid !important;
}

form {
    text-align: left;
    width: 90%; 
    margin: 0 auto;
}

h2 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn {
    margin-bottom: 40px;
}

textarea {
    height: 250px;
}