#features {
    text-align: left;
    margin-left: 28.5em;
    padding-top: 3em;    
}

#brand, #name {
    margin-bottom: 5px;
}

#price {
    margin-bottom: 35px;
}

img {
    float: left;
    clear: left;
}

.container {
    width: 85%;
    margin: 0 auto;
    margin-top: 7em;
}

#addtocartbtn {
    margin-top: 10px;
    border: 1.5px solid #ffc107;
    font-weight: 600;
}