.card {
  margin-top: 45px;
  margin-left: 15px;
  margin-right: 15px;
  width: 250px;
  height: 375px;
}

.productcards {
  width: 74%; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

form {
  margin: 75px auto 0;
  padding-left: 3em;
  padding-right: 5em;
  float: left;  
}

#categoriesfilter, #brandfilter {
  text-align: left;
  font-size: 15px;
}

#categoriesfilter p, #brandfilter p {
  margin-bottom: 3px; 
}

#brandfilter p {
  margin-top: 20px;
}
