.card {
  margin-top: 45px;
  margin-left: 20px;
  margin-right: 20px;
  width: 265px;
  height: 325px;
}

.productcards {
  width: 85%; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}


form {
  margin: 75px auto 0;
  padding-left: 5em;
  padding-right: 4em;
  float: left;  
}

#categoriesfilter, #brandsfilter {
  text-align: left;
  font-size: 15px;
}

#categoriesfilter p, #brandsfilter p {
  margin-bottom: 3px; 
}

#brandsfilter p {
  margin-top: 20px;
}
