.card {
  margin-top: 45px;
  margin-left: 15px;
  margin-right: 15px;
  width: 250px;
  height: 375px;
}

.productcards {
  width: 74%; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

app-productfilters {
  margin: 75px auto 0;
  padding-left: 3em;
  padding-right: 5em;
  float: left;  
}
