<div id="welcomebanner">
    <h1>Welcome to SP Electronic </h1>
    <h2>Your One Stop Online Store For All Your Electronic Needs</h2>
    <button id="shopnowbtn" type="button" routerLink="/products">Shop Now</button>
</div>
<div class="usp">
    <section class="qualities shadow">
        <img src="https://img.icons8.com/ios/100/000000/thumb-up.png">
        <p>High Quality Products</p>
    </section>
    <section class="qualities shadow">
        <img src="https://img.icons8.com/ios/100/000000/free-shipping.png">
        <p>Free Shipping For Orders Over $100</p>
    </section>
    <section class="qualities shadow">
        <img src="https://img.icons8.com/ios/100/000000/customer-support.png">
        <p>24/7 Customer Support</p>
    </section>
</div>
<h2 class="aboutus">About Us</h2>
<div class="aboutus">
    <p>SP Electronic is an online store which provides electronics at an affordable price while maintaining a high quality of customer service and purchasing experience.
        We carry a wide range of electronics from over 50 brands including major ones like Apple, Samsung, Microsoft and more...
    </p>
</div>
