<div class="container">
    <form *ngIf="!submitted" [formGroup]="contactForm">
        <h2>Get In Touch With Us</h2>
        <div class="form-group">
            <label for="fullname">Full Name</label>
            <input [formControlName]="'fullname'" class="form-control" type="text" placeholder="Name" id="fullname">
            <span *ngIf="!contactForm.get('fullname').valid && contactForm.get('fullname').touched" class="help-block">
                <span class="help-block"
                    *ngIf="contactForm.get('fullname').errors['required'] || contactForm.get('fullname').errors['blankSpaces']">*This
                    field is
                    required</span>
            </span>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input [formControlName]="'email'" class="form-control" type="text" placeholder="Email">
            <span *ngIf="!contactForm.get('email').valid && contactForm.get('email').touched" class="help-block">
                <span class="help-block"
                    *ngIf="contactForm.get('email').errors['required'] || contactForm.get('email').errors['blankSpaces']">*This
                    field is required</span>
                <span class="help-block"
                    *ngIf="contactForm.get('email').errors['email'] && !contactForm.get('email').errors['blankSpaces']">*Invalid
                    Email</span>
            </span>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Category</label>
            <select [formControlName]="'category'" class="form-control">
                <option>General Queries</option>
                <option>After Sales</option>
                <option>Order</option>
                <option>Others</option>
            </select>
            <span *ngIf="!contactForm.get('category').valid && contactForm.get('category').touched" class="help-block">
                <span class="help-block" *ngIf="contactForm.get('category').errors['required']">*Please select a
                    category</span>
            </span>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Message</label>
            <textarea [formControlName]="'message'" rows="5" placeholder="Message"></textarea>
            <span *ngIf="!contactForm.get('message').valid && contactForm.get('message').touched" class="help-block">
                <span class="help-block"
                    *ngIf="contactForm.get('message').errors['required'] || contactForm.get('message').errors['blankSpaces']">*This
                    field is
                    required</span>
            </span>
        </div>
        <button [disabled]="!contactForm.valid" (click)="onSubmit();" class="btn btn-outline-success float-right"
            type="submit">Submit</button>
    </form>
    <div *ngIf="submitted" class="submitted">
        <h4>Your Response Has Been Submitted</h4>
        <p>Please wait up to 24 hours for our team to get back to you</p>
        <p class="fakelink" (click)="onReset()">Go Back?</p>
    </div>
</div>